body {
  background: #F0F8FF;
}

.reply {
  background: #FAEBD7;
}

.postername {
  font-weight: bold;
  color: #B22222;
}

.subject {
  font-weight: bold;
  color: #00008B;
}

.formtable th {
  padding: 4px;
  border: 0.5px solid black;
  background: #FAEBD7;
}

header h2 {
  font-size: 25pt;
}

a {
  color: #0000FF;
}

a:hover {
  color: #00008B;
}

.bottom table {
  border: 0.5px solid black;
}

.bottom table td:not(:last-child) {
  border-right: 0.5px solid black;
}

article {
  border-top: 0.5px solid black;
}